* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {

  background: #020617;

  color: white;

  font-family: Inter, sans-serif;

  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

button,
a,
.skill-card,
.project-card,
.about-card,
.timeline-content {

  transition: all 0.3s ease;
}